
.icon-right-big:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-cancel-1:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e826'; } /* '' */
.icon-align-justify:before { content: '\e84a'; } /* '' */