---
layout: default
namespace: home

header_headline: "Unterstütze junge Menschen dabei, mit Code die Welt zu verbessern."
header_copy: "Der Jugend hackt Freundeskreis ist deine Möglichkeit, die Arbeit unseres Programms langfristig zu sichern. Als Fördermitglied wirst du Teil von Jugend hackt: Du erfährst Inside-Stories und bekommst spezielle Dankeschöns. Auch für engagierte Unternehmen ist etwas dabei!"
header_button_text: "Unterstützte uns!"
header_button_color: "red"

---

{% include header.liquid %}

<div class="row">
    <div class="col">
        <article class="article">
            <div class="content-wrap section">
                {% include partials/headline.liquid text="Der Freundeskreis ist für dich, wenn du…" %}
                <div class="row no-gutters image-teaser-wrap">
                    {% include partials/image-teaser.liquid type="bottom" color="red"  src="assets/img/static/home/home-1.jpg" title="Jugend hackt Freundeskreis" headline="Jugend hackt etwas zurückgeben willst" %}
                    {% include partials/image-teaser.liquid type="top" color="green" src="assets/img/static/home/home-2.jpg" title="Jugend hackt Freundeskreis" headline="die nächste Generation an politisch aktiven Hacker*innen fördern willst" %}
                </div>
                <div class="row no-gutters image-teaser-wrap">
                    {% include partials/image-teaser.liquid type="bottom" color="yellow" src="assets/img/static/home/home-3.jpg" title="Jugend hackt Freundeskreis" headline="dein Engagement für ethischen Umgang mit Technik zeigen willst" %}
                    {% include partials/image-teaser.liquid type="top" color="blue" src="assets/img/static/home/home-4.jpg" title="Jugend hackt Freundeskreis" headline="ein wirksames Förderprogramm für Jugendliche unterstützen willst" %}
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center pt-5">
                        {% include partials/btn.liquid button_text="Noch mehr Gründe" button_color="blue" button_url="/about"  %}
                    </div>
                </div>
            </div>
            <div class="content-wrap fullwidth section">
                {% include partials/headline.liquid text="In guter Gesellschaft" %}
                <div class="members-wrap">
                    <div class="row">
                        <div class="col">
                            <div class="content-wrap">
                                <div class="row d-flex justify-content-end">
                                    <div class="col-24 col-md-12">
                                        {% include partials/bubble.liquid color="grey" text="Viele tolle Menschen helfen uns dabei, unabhängig zu bleiben und unsere Arbeit langfristig zu sichern. Ob engagierte Eltern, nicht-mehr-ganz-so-Junghacker*innen oder Unternehmen, die den Nachwuchs fördern wollen: Im Freundeskreis finden sich alle, die Jugend hackt mit einer Mitgliedschaft langfristig unterstützen." %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pt-5 pb-5">
                            {% include partials/btn.liquid button_text="Unsere Mitglieder" button_color="blue" button_url="/mitglieder" %}
                        </div>
                    </div>

                </div>
            </div>
            <div class="content-wrap section">
                {% include partials/headline.liquid text="Du willst auch in den Freundeskreis?" %}
                {% include partials/btn.liquid button_text="Jetzt Mitglied werden!" button_color="red" button_url="/unterstuetzen" %}
            </div>
        </article>

    </div>
</div>


