
<section class="row justify-content-center pt-5 pb-5 pt-sm-6 pb-sm-6">
    <div class="col-22 col-sm-10 col-md-8 col-lg-7 d-flex align-items-center onScreenAnimate fadeInBottomOpacity">
        <h2 class="pb-3 pb-sm-0 text-center text-sm-left mx-auto">
            {{ include.headline }}
        </h2>
    </div>
    <div class="col-22 col-sm-10 col-md-8 col-lg-7 text-center text-sm-left onScreenAnimate fadeInBottomOpacity">
            {{ include.text }}
    </div>
</section>