<div class="home-animation">
    <div class="slide d-flex flex-column align-items-center justify-content-center" data-id="0">
        <div class="slide-content d-flex flex-column align-items-center justify-content-center">
            <h1 class="text-center claim paused hidden h1">{{ page.header_1 }}</h1>
        </div>
    </div>
    <div class="slide d-flex align-items-center justify-content-center" data-id="1">
        <div class="slide-content d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center claim paused hidden h2">{{ page.header_2 }}</h2>
        </div>
        <div class="slide-button justify-content-center pt-4 pt-md-3 d-none d-sm-flex">
            <a href="/apply" class="btn btn-outline-primary draw btn-lg">{{ page.cta_2 }}</a>
        </div>
        <div class="slide-item left bottom"><img class="injectable" src="/assets/img/static/animation/slide_0_1.svg" /></div>
        <div class="slide-item right top"><img class="injectable" src="/assets/img/static/animation/slide_0_2.svg" /></div>
    </div>
    <div class="slide d-flex align-items-center justify-content-center" data-id="2">
        <div class="slide-content d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center claim paused hidden h2">{{ page.header_3 }}</h2>
        </div>
        <div class="slide-button justify-content-center pt-4 pt-md-3 d-none d-sm-flex">
            <a href="/apply" class="btn btn-outline-primary draw btn-lg">{{ page.cta_3 }}</a>
        </div>
        <div class="slide-item left top"><img class="injectable" src="/assets/img/static/animation/slide_1_1.svg"  /></div>
        <div class="slide-item right bottom"><img class="injectable" src="/assets/img/static/animation/slide_1_2.svg"  /></div>
    </div>
    <div class="slide d-flex align-items-center justify-content-center" data-id="3">
        <div class="slide-content d-flex flex-column align-items-center justify-content-center">
            <h2 class="text-center claim paused hidden h2">{{ page.header_4 }}</h2>
        </div>
        <div class="slide-button justify-content-center pt-4 pt-md-3 d-none d-sm-flex">
            <a href="/apply" class="btn btn-outline-primary draw btn-lg">{{ page.cta_4 }}</a>
        </div>
        <div class="slide-item left bottom"><img class="injectable" src="/assets/img/static/animation/slide_2_1.svg"  /></div>
        <div class="slide-item right top"><img class="injectable" src="/assets/img/static/animation/slide_2_2.svg"  /></div>
    </div>
</div>