<!-- Our Partners -->
<section class="row justify-content-center pt-4 pb-5">
    <div class="col-24 col-sm-20 col-md-18 col-lg-16 onScreenAnimate">
        <div class="row">
            <div class="col-24 pb-2 fadeInBottomOpacity">
                <h2 class="text-center text-sm-left">Our Partners</h2>
            </div>
            {% assign counter = 0 %}
            {% for item in site.data.partners %}
            {% assign counter = counter | plus: 1 %}
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-center fadeInBottomOpacity fadeDelay-{{counter}}">
                <div class="p-3 p-sm-2">
                    <img class="img-fluid" src="/assets/img/static/{{ item.image }}" alt="{{ item.name }}">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>