<!-- Roadmap -->
<div class="row shadowline-top mt-6">
    <div class="col">
        <section class="row  justify-content-center pt-6 pb-5 onScreenAnimate">
            <div class="col-24 p-0">
                <h2 class="text-center fadeInBottomOpacity">Roadmap</h2>
                <div class="slider pt-2 pt-sm-4 pt-md-5" >
                    {% assign sorted = site.fundament_roadmap | sort: 'date' %}
                    {% assign reversed = sorted | reverse %}
                    {% assign counter = 0 %}
                    {% for item in reversed %}
                        {% assign counter = counter | plus: 1 %}
                        <div data-slide="{{ forloop.index }}" class="slider-item mr-3 mr-sm-6 fadeInBottomOpacity fadeDelay-{{counter}}">
                            <div class="square border border-primary rounded">
                                <div class="square-content">
                                    <h3 class="pb-sm-2">{{ item.title }}</h3>
                                    {{ item.content | markdownify }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>