<!-- Our Team -->
<!-- whitepaper -->
<div class="row shadowline-top mt-6">
    <div class="col">
        <section class="row justify-content-center pb-5 pt-6 block-team onScreenAnimate">
            <div class="col-24 col-sm-20 col-md-18 col-lg-16">
                <div class="row">
                    <div class="col-24 pb-2 fadeInBottomOpacity">
                        <h2 class="text-center text-sm-left">Our Team</h2>
                    </div>
                    {% assign counter = 0 %}
                    {% for item in site.data.team %}
                        {% assign counter = counter | plus: 1 %}
                        <div class="col-12 col-sm-8 col-md pb-3 pb-sm-3 pb-md-0 fadeInBottomOpacity fadeDelay-{{counter}}">
                            <img class="img-fluid" src="/assets/img/static/{{ item.image }}" alt="{{ item.name }}">
                            <h5>{{ item.name }}</h5>
                            <div class="team-function">{{ item.title }}</div>
                            <div class="team-description">{{ item.description }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
</div>