<!-- whitepaper -->
<div class="row shadowline-top mt-6 onScreenAnimate fadeInBottomOpacity">
    <div class="col">
        <section class="d-flex flex-column align-items-center pt-6 pb-5">
            <div class="row justify-content-center">
                <div class="col col-sm-19 col-md-18 col-lg-17">
                    <h2 class="text-center pb-3">Our whitepaper</h2>
                    <div class="text-center">Here you find all details about the future of digital Real Estate investment</div>
                </div>
            </div>
            
            <figure class="download-whitepaper pt-4 pb-3">
                <img class="img-fluid" src="/assets/img/static/download-whitepaper.svg" alt="Download whitepaper pdf">
            </figure>

            <button class="btn btn-outline-primary btn-lg">Download<br> whitepaper pdf</button>
        </section>
    </div>
</div>