<footer class="footer">
    <div class="footer-inner">
        <div class="row no-gutters">
            <div class="col-24">
                <h3 class="pb-4">Kontakt</h3>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <div class="row no-gutters">
                    <div class="col-xs-24 col-md-12">
                        <div class="row no-gutters">
                            <div class="col">
                                <h3 class="contact pb-5">
                                    Sonja Fischbauer<br/>
                                    <a href="mailto:freundeskreis@jugendhackt.org">freundeskreis@jugendhackt.org</a><br/>
                                    +49 30-57703666-2
                                </h3>
                            </div>
                        </div>
                        <div class="row no-gutters pb-5">
                            <div class="col col-md-16 col-lg-12">
                                <div class="pixels footer-grey top"></div>
                                <div class="pixels footer-grey bottom"></div>
                                <img class="img-fluid" src="assets/img/static/sonja_fischbauer_cc-by_fabian_brugger.jpg" alt="Sonja Fischbauer by Fabian Brugger"/>
                            </div>
                        </div>
                        <div class="row d-none d-md-block impressum-link">
                            <div class="col">
                                <p>
                                    <a href="https://jugendhackt.org/impressum/" target="_blank">Impressum</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-24 col-md-12">
                        <div class="row">
                            <div class="col">
                                <p class="footer-copy pb-5">Jugend hackt fördert technikbegeisterte Jugendliche zwischen 12 und 18 Jahren im deutschsprachigen Raum. Das Programm bietet Hackathons in vielen Städten, regionale Labs und eine Online Community. Dahinter stehen die gemeinnützigen Vereine <strong><a href="https://okfn.de/" target="_blank">Open Knowledge Foundation Deutschland e.V.</a> und <a href="https://medialepfade.org/" target="_blank">mediale pfade.org – Verein für Medienbildung e.V.</a></strong></p>
                            </div>
                        </div>
                        <div class="row pb-5 pb-md-0 pb-md-5">
                            <div class="col col-sm-14 col-md-16 col-lg-14  col-xlg-12">
                                <a href="https://jugendhackt.org/" target="_blank">
                                    <img class="img-fluid" src="assets/img/static/jh-logo.png" />
                                </a>
                            </div>
                        </div>
                        <div class="legal-info pb-5 pb-md-0">
                            <p>Wir verwenden die datenschutzfreundliche Technologie von <a href="https://matomo.org/" target="_blank">Matomo</a>, um statistische Auswertungen der Seitennutzung zu erhalten. Wer das nicht möchte, kann hier den Haken entfernen. Näheres in unserer Datenschutzerklärung. Die Inhalte dieser Webseite sind, sofern nicht anders angegeben, nach Creative Commons 4.0 Attribution lizenziert.</p>
                        </div>
                        <div class="row d-block d-md-none">
                            <div class="col">
                                <p>
                                    <a href="/impressum">Impressum</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

        <!-- js libs -->
        {% if page.script_include %}
          {% include script_{{ page.script_include  }}.liquid %}
        {% endif %}

        <script src="{{ site.baseurl }}/assets/js/vendor/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/popper.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/bootstrap.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/logger.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/slick.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/onscreen.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/greensock/TweenMax.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendor/greensock/TimelineMax.min.js"></script>

        <!-- js custom -->
        <script src="{{ site.baseurl }}/assets/js/main.js"></script>

        <script>
            jQuery(document).ready(function($) {
                window.baseurl = "{{ site.baseurl }}";
                window.controller = new Controller($);
                window.controller.init();
            });
        </script>

</body>
</html>
