<div class="section header-wrap">
    <div class="row no-gutters">
        <div class="col-md header-left square">
            <div class="pixels right"></div>
            <div class="header-left-content">
                <div class="header-inner">
                    <img class="logo" src="/assets/img/static/jugend-hackt-freundeskreis-logo.svg">
                    <h1 class="headline h3">{{ page.header_headline }}</h1>
                    <p class="copy">{{ page.header_copy }}</p>
                    {% if page.header_button_text %}
                        {% include partials/btn.liquid button_text=page.header_button_text button_color=page.header_button_color button_url="/unterstuetzen"  %}
                        <div class="d-flex justify-content-center">
                            <a href="#" class="btn {{ include.button_color }}">{{ include.button_text }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md header-right">
            {% assign slider_name = "slider"  | append: '-' | append: page.namespace %}
            <div class="pixels left"></div>
            <div id="image-slider" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <!-- Slide One - Set the background image for this slide in the line below -->
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% assign slider_name = "slider"  | append: '-' | append: page.namespace %}
                            {% for slide in site.data[slider_name] %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img class="d-block w-100" src="{{ slide.src }}" alt="{{ slide.title }}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>