<div class="row justify-content-md-end no-gutter">
    <div class="col col-md-12 no-padding">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="hamburger navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse navbar-inner" id="navbarSupportedContent">
                <ul class="navbar-nav font-light">
                    <li class="nav-item {% if page.url == '/about/' %}active{% endif %}">
                        <a class="nav-link" href="/about">About</a>
                    </li>

                    <li class="nav-item {% if page.url == '/mitglieder/' %}active{% endif %}">
                        <a class="nav-link" href="/mitglieder">Mitglieder</a>
                    </li>

                    <li class="nav-item {% if page.url == '/faq/' %}active{% endif %}">
                        <a class="nav-link" href="/faq">Faq</a>
                    </li>
                    <li class="nav-item {% if page.url == '/unterstuetzen/' %}active{% endif %}">
                        <a class="nav-link apply" href="#">
                            <div class="alpaka">
                                <img data-index="0" class="active" src="assets/img/static/alpaka-red.svg" alt="Alpaka"/>
                                <img data-index="1" src="assets/img/static/alpaka-blue.svg" alt="Alpaka"/>
                                <img data-index="2" src="assets/img/static/alpaka-green.svg" alt="Alpaka"/>
                                <img data-index="3" src="assets/img/static/alpaka-yellow.svg" alt="Alpaka"/>
                                <img data-index="4" src="assets/img/static/alpaka-grey.svg" alt="Alpaka"/>
                            </div>
                           <span class="apply-inner">Mitglied werden!</span>
                        </a>
                    </li>
                </ul>
            </div>



        </nav>
    </div>
</div>
