<div class="cookie-wrap">
    <div class="cookie-inner">
        This site uses cookies. By continuing to browse the site you are agreeing to our use of cookies. <a href="/imprint">Find out more here.</a><i class="icon">&#xe801;</i>
    </div>
</div>