<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 240 500" style="enable-background:new 0 0 240 326;" xml:space="preserve">
<style type="text/css">
	.st0{clip-path:url(#SVGID_2_);fill:#07a067;}
	.st1{clip-path:url(#SVGID_4_);fill:#07a067;}
	.st2{clip-path:url(#SVGID_6_);fill:#07a067;}
	.st3{clip-path:url(#SVGID_8_);fill:#07a067;}
	.st4{clip-path:url(#SVGID_10_);fill:#07a067;}
	.st5{clip-path:url(#SVGID_12_);fill:#07a067;}
	.st6{clip-path:url(#SVGID_14_);fill:#07a067;}
	.st7{clip-path:url(#SVGID_16_);fill:#07a067;}
	.st8{clip-path:url(#SVGID_18_);fill:#07a067;}
	.st9{clip-path:url(#SVGID_20_);fill:#07a067;}
	.st10{clip-path:url(#SVGID_22_);fill:#07a067;}
	.st11{clip-path:url(#SVGID_24_);fill:#07a067;}
	.st12{clip-path:url(#SVGID_26_);fill:#07a067;}
	.st13{clip-path:url(#SVGID_28_);fill:#07a067;}
	.st14{clip-path:url(#SVGID_30_);fill:#07a067;}
	.st15{clip-path:url(#SVGID_32_);fill:#07a067;}
	.st16{clip-path:url(#SVGID_34_);fill:#07a067;}
	.st17{clip-path:url(#SVGID_36_);fill:#07a067;}
	.st18{clip-path:url(#SVGID_38_);fill:#07a067;}
	.st19{clip-path:url(#SVGID_40_);fill:#07a067;}
	.st20{clip-path:url(#SVGID_42_);fill:#07a067;}
	.st21{clip-path:url(#SVGID_44_);fill:#07a067;}
	.st22{clip-path:url(#SVGID_46_);fill:#07a067;}
	.st23{clip-path:url(#SVGID_48_);fill:#07a067;}
	.st24{clip-path:url(#SVGID_50_);fill:#07a067;}
	.st25{clip-path:url(#SVGID_52_);fill:#07a067;}
	.st26{fill:#07a067;}
	.st27{clip-path:url(#SVGID_54_);fill:#07a067;}
	.st28{clip-path:url(#SVGID_56_);fill:#07a067;}
	.st29{clip-path:url(#SVGID_58_);fill:#07a067;}
	.st30{clip-path:url(#SVGID_60_);fill:#07a067;}
	.st31{clip-path:url(#SVGID_62_);fill:#07a067;}
	.st32{clip-path:url(#SVGID_64_);fill:#07a067;}
	.st33{clip-path:url(#SVGID_66_);fill:#07a067;}
	.st34{clip-path:url(#SVGID_68_);fill:#07a067;}
	.st35{clip-path:url(#SVGID_70_);fill:#07a067;}
	.st36{clip-path:url(#SVGID_72_);fill:#07a067;}
	.st37{clip-path:url(#SVGID_74_);fill:#07a067;}
	.st38{clip-path:url(#SVGID_76_);fill:#07a067;}
	.st39{clip-path:url(#SVGID_78_);fill:#07a067;}
	.st40{clip-path:url(#SVGID_80_);fill:#07a067;}
	.st41{clip-path:url(#SVGID_82_);fill:#07a067;}
	.st42{clip-path:url(#SVGID_84_);fill:#07a067;}
	.st43{clip-path:url(#SVGID_86_);fill:#07a067;}
	.st44{clip-path:url(#SVGID_88_);fill:#07a067;}
	.st45{clip-path:url(#SVGID_90_);fill:#07a067;}
	.st46{clip-path:url(#SVGID_92_);fill:#07a067;}
	.st47{clip-path:url(#SVGID_94_);fill:#07a067;}
	.st48{clip-path:url(#SVGID_96_);fill:#07a067;}
	.st49{clip-path:url(#SVGID_98_);fill:#07a067;}
	.st50{clip-path:url(#SVGID_100_);fill:#07a067;}
	.st51{clip-path:url(#SVGID_102_);fill:#07a067;}
	.st52{clip-path:url(#SVGID_104_);fill:#07a067;}
</style>

<g id="block1" class="block">
	<g>
		<g>
			<defs>
				<rect id="SVGID_1_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_2_">
				<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st0" d="M2.4,49.4c-0.3,0.8-0.7,1.6-1,2.4c-0.1,0.3-0.3,0.7-0.4,1v2.4c0.5-1,0.9-2,1.4-3c0.3-0.7,0.7-1.5,1-2.2
				L2.4,49.4z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_3_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_4_">
				<use xlink:href="#SVGID_3_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st1" d="M1,67.1c1.6-3.5,3.1-7,4.8-10.4c0.6-1.4,1.3-2.8,1.9-4.1l-1.1-0.7c-0.6,1.5-1.2,2.9-1.8,4.4
				c-1.2,3.1-2.5,6.1-3.8,9.2C1,65.5,1,67.1,1,67.1z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_5_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_6_">
				<use xlink:href="#SVGID_5_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st2" d="M1,79.4c0.1-0.3,0.2-0.6,0.3-0.8C3.7,72.7,6.4,67,9.1,61.2c0.9-2,1.9-4.1,2.9-6.1l-1.2-0.7
				c-0.9,2.1-1.8,4.2-2.6,6.4C5.9,66.4,3.5,72.1,1,77.6V79.4z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_7_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_8_">
				<use xlink:href="#SVGID_7_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st3" d="M1,92c1.1-2.8,2.3-5.6,3.5-8.4c2.5-6,5.3-12,8-17.9c1.3-2.7,2.5-5.4,3.8-8L15,56.8c-1.2,2.8-2.3,5.6-3.4,8.4
				c-2.5,6.1-5,12.1-7.7,18.1C3,85.4,2,87.5,1,89.6V92z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_9_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_10_">
				<use xlink:href="#SVGID_9_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st4" d="M1,103.5c1-1.8,1.9-3.6,2.7-5.5l3.9-9.4c2.6-6.2,5.4-12.4,8.3-18.5c1.5-3.3,3.1-6.7,4.6-10l-1.3-0.8
				c-1.5,3.4-2.9,6.9-4.3,10.4C12.4,75.9,9.8,82.2,7,88.3c-1.8,4.2-3.8,8.3-6,12.3V103.5z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_11_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_12_">
				<use xlink:href="#SVGID_11_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st5" d="M1,113.4c0.2-0.3,0.4-0.6,0.6-0.9c3.9-5.9,6.4-12.5,9.3-18.8c2.7-6.4,5.6-12.8,8.4-19.1c1.8-4,3.6-8,5.5-12
				l-1.4-0.8c-1.8,4.1-3.4,8.2-5.1,12.4c-2.6,6.5-5.1,12.9-8.1,19.2c-2.7,5.9-5.7,11.8-9.3,17.1v2.9H1z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_13_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_14_">
				<use xlink:href="#SVGID_13_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st6" d="M1,122.3c1.2-1.4,2.3-2.8,3.3-4.3c4.1-6,6.9-12.7,9.8-19.2l8.7-19.7c2.1-4.7,4.2-9.3,6.3-14l-1.4-0.8
				c-2.1,4.8-4,9.6-5.9,14.4c-2.6,6.7-5.3,13.3-8.3,19.8c-3,6.5-6.3,12.9-10.5,18.6c-0.6,0.9-1.3,1.7-2,2.5C1,119.6,1,122.3,1,122.3
				z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_15_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_16_">
				<use xlink:href="#SVGID_15_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st7" d="M1,130.4c2.2-2.1,4.2-4.4,5.9-6.9c4.4-6.1,7.3-13,10.3-19.6l8.9-20.2c2.3-5.3,4.7-10.7,7.2-15.9l-1.5-0.9
				c-2.4,5.4-4.6,10.9-6.7,16.4c-2.7,6.8-5.4,13.7-8.6,20.3c-3.1,6.7-6.5,13.2-11,19c-1.4,1.9-3,3.7-4.6,5.4v2.4H1z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_17_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_18_">
				<use xlink:href="#SVGID_17_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st8" d="M9.6,128.9c4.6-6.2,7.7-13.2,10.8-20.1L29.6,88c2.6-6,5.3-12,8.1-17.9l-1.5-0.9c-2.7,6.1-5.1,12.2-7.5,18.4
				c-2.8,7-5.6,14.1-8.8,20.9S13.1,122,8.4,127.9c-2.2,2.8-4.6,5.5-7.2,7.9v2.3c0.3-0.2,0.6-0.4,0.8-0.7
				C4.7,134.9,7.2,132,9.6,128.9"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_19_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_20_">
				<use xlink:href="#SVGID_19_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st9" d="M23.5,113.9L33,92.6c2.9-6.7,5.8-13.3,8.9-19.9l-1.6-0.9c-3,6.7-5.7,13.6-8.3,20.4
				c-2.8,7.2-5.7,14.4-9.1,21.4c-3.3,7-7.1,13.8-12,19.8c-2.3,2.9-4.9,5.7-7.7,8.2l1.6,0.9c2.7-2.5,5.2-5.2,7.4-8.1
				C17,128.1,20.3,120.9,23.5,113.9"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_21_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_22_">
				<use xlink:href="#SVGID_21_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st10" d="M26.6,118.9c3.3-7.3,6.6-14.6,9.8-21.9s6.3-14.7,9.7-21.8l0,0l-1.6-0.9c-3.4,7.4-6.3,14.9-9.2,22.4
				c-2.9,7.4-5.9,14.8-9.4,22c-3.4,7.2-7.5,14.1-12.5,20.2c-1.6,2-3.4,3.9-5.3,5.7l1.6,0.9c1.7-1.8,3.4-3.7,5-5.6
				C19.8,133.5,23.3,126.2,26.6,118.9"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_23_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_24_">
				<use xlink:href="#SVGID_23_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st11" d="M29.8,124c3.4-7.4,6.8-14.9,10-22.4c3.3-7.5,6.4-15.1,9.9-22.4c0.2-0.5,0.5-0.9,0.7-1.4l-1.6-0.9
				c-0.2,0.5-0.5,1.1-0.8,1.6c-3.5,7.5-6.2,15.2-9.2,22.8s-6,15.2-9.7,22.5c-3.5,7.4-7.8,14.4-13,20.6c-0.9,1.1-1.9,2.1-2.9,3.2
				l1.5,0.9c0.9-1,1.8-2,2.6-3c2.5-3.3,4.8-6.7,6.8-10.3C26.2,131.4,28,127.7,29.8,124"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_25_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_26_">
				<use xlink:href="#SVGID_25_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st12" d="M32.9,129c3.6-7.6,7-15.3,10.3-23s6.5-15.5,10.1-23c0.4-0.9,0.9-1.9,1.4-2.8l-1.6-1c-0.5,1-1,2-1.4,3
				c-3.5,7.7-6.3,15.6-9.4,23.4c-3,7.8-6.2,15.6-10,23.1c-3.6,7.5-8.1,14.7-13.5,21c-0.2,0.2-0.4,0.4-0.5,0.6l1.4,0.8
				c0.1-0.1,0.2-0.3,0.3-0.4c2.6-3.3,5-6.8,7.1-10.5C29.2,136.6,31.1,132.8,32.9,129"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_27_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_28_">
				<use xlink:href="#SVGID_27_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st13" d="M46.6,110.5c3.4-7.9,6.6-15.9,10.3-23.6c0.7-1.4,1.4-2.8,2.1-4.2l-1.7-1c-0.7,1.5-1.4,2.9-2.1,4.4
				c-3.6,7.9-6.4,16-9.6,24c-3.1,8-6.4,15.9-10.2,23.6C32,140.6,27.9,147.1,23,153l1.4,0.8c4.7-6.1,8.3-12.9,11.6-19.8
				C39.7,126.3,43.2,118.4,46.6,110.5"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_29_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_30_">
				<use xlink:href="#SVGID_29_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st14" d="M50,115c3.5-8.1,6.7-16.3,10.4-24.2c0.9-1.9,1.8-3.7,2.7-5.6l-1.7-1c-0.9,1.9-1.8,3.8-2.7,5.8
				c-3.7,8.1-6.5,16.4-9.8,24.6c-3.2,8.2-6.6,16.3-10.5,24.2c-3,6-6.5,11.8-10.7,17.1l1.2,0.7c3.9-5.5,7.1-11.4,10.1-17.5
				C42.9,131.2,46.6,123.1,50,115"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_31_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_32_">
				<use xlink:href="#SVGID_31_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st15" d="M53.5,119.5c3.6-8.3,6.9-16.7,10.6-24.8c1.1-2.3,2.2-4.6,3.4-6.9l-1.7-1c-1.2,2.4-2.3,4.8-3.4,7.2
				c-3.7,8.3-6.6,16.8-9.9,25.1c-3.3,8.4-6.7,16.7-10.8,24.7c-1,2-2.1,4-3.2,5.9c-1.2,1.9-2.3,3.8-3.6,5.7c-0.7,1.1-1.5,2.1-2.2,3.2
				l1.1,0.6c3.2-4.8,6-9.9,8.6-15.1C46.2,136,49.9,127.8,53.5,119.5"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_33_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_34_">
				<use xlink:href="#SVGID_33_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st16" d="M56.9,124c3.6-8.5,7-17.1,10.8-25.4c1.3-2.8,2.7-5.6,4.1-8.3l-1.7-1c-1.4,2.8-2.8,5.7-4.1,8.6
				c-3.8,8.5-6.7,17.2-10.1,25.7c-5.1,13-10.7,26.2-18.7,37.7l1,0.6c2.6-4.1,5-8.4,7.1-12.7C49.4,140.9,53.2,132.5,56.9,124"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_35_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_36_">
				<use xlink:href="#SVGID_35_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st17" d="M60.3,128.5c3.7-8.7,7.1-17.4,11-26c1.5-3.3,3.1-6.5,4.8-9.7l-1.7-1c-1.7,3.3-3.3,6.6-4.8,9.9
				c-3.8,8.7-6.8,17.6-10.3,26.3c-3.4,8.8-7.1,17.4-11.5,25.8c-1.8,3.5-3.8,6.8-6,10.1l0.8,0.5c2-3.3,3.9-6.8,5.7-10.3
				C52.6,145.7,56.6,137.2,60.3,128.5"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_37_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_38_">
				<use xlink:href="#SVGID_37_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st18" d="M63.7,133c3.8-8.8,7.3-17.8,11.2-26.6c1.7-3.7,3.5-7.4,5.5-11l-1.7-1c-1.9,3.7-3.8,7.5-5.4,11.3
				c-3.9,8.9-6.9,18-10.5,26.9c-3.5,8.9-7.3,17.8-11.8,26.3c-1.4,2.6-2.9,5.2-4.5,7.7l0.8,0.4c1.5-2.6,2.9-5.2,4.3-7.8
				C55.9,150.6,59.9,141.9,63.7,133"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_39_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_40_">
				<use xlink:href="#SVGID_39_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st19" d="M76.8,109.6c-3.9,9.1-7,18.4-10.7,27.5c-3.6,9.1-7.4,18.2-12.1,26.8c-1,1.8-2,3.6-3,5.3l0.7,0.4
				c1-1.8,2-3.6,3-5.4c4.5-8.7,8.6-17.7,12.5-26.7s7.4-18.2,11.4-27.2c0.7-1.5,1.4-2.9,2.1-4.4v-4.5C79.2,104.1,78,106.8,76.8,109.6
				"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_41_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_42_">
				<use xlink:href="#SVGID_41_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st20" d="M80.4,113.5c-4,9.3-7.1,18.8-10.8,28.1c-3.6,9.3-7.6,18.6-12.4,27.3c-0.5,1-1.1,1.9-1.6,2.9l0.6,0.4
				c0.5-1,1.1-2,1.6-2.9c4.7-8.9,8.9-18,12.8-27.2c3.4-8,6.6-16.2,10-24.2v-4.7C80.5,113.2,80.4,113.4,80.4,113.5"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_43_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_44_">
				<use xlink:href="#SVGID_43_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st21" d="M72.9,146.1c-3.7,9.5-7.8,18.9-12.8,27.9c-0.1,0.2-0.2,0.3-0.3,0.5l0.6,0.3c0.1-0.2,0.2-0.3,0.3-0.5
				c4.8-9.1,9.1-18.4,13.2-27.8c2.3-5.3,4.4-10.7,6.6-16.1V126C78,132.7,75.6,139.4,72.9,146.1"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_45_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_46_">
				<use xlink:href="#SVGID_45_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st22" d="M76.4,150.6c-3.5,9-7.4,17.9-12,26.4l0.6,0.3c4.5-8.6,8.6-17.4,12.5-26.3c1.1-2.5,2.1-5.1,3.2-7.6v-3.7
				C79.2,143.3,77.8,146.9,76.4,150.6"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_47_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_48_">
				<use xlink:href="#SVGID_47_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st23" d="M79.8,155c-3.3,8.3-6.9,16.5-11,24.4l0.5,0.3c4.1-7.8,7.8-15.7,11.3-23.8V153C80.3,153.7,80,154.4,79.8,155
				"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_49_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_50_">
				<use xlink:href="#SVGID_49_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st24" d="M73.2,182l0.5,0.3c2.4-4.7,4.7-9.4,6.8-14.2V166C78.3,171.5,75.8,176.8,73.2,182"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_51_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_52_">
				<use xlink:href="#SVGID_51_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st25" d="M77.5,184.6l0.5,0.3c0.8-1.6,1.7-3.3,2.5-4.9v-1.6C79.6,180.4,78.6,182.5,77.5,184.6"/>
		</g>
	</g>
	<polygon class="st26" points="153.2,52.6 80.5,95.5 80.5,101.5 80.5,105.9 80.5,113.1 80.5,117.8 80.5,126 80.5,130.4 80.5,139.6 
		80.5,143.3 80.5,153.1 80.5,156 80.5,166.1 80.5,168.2 80.5,178.3 80.5,179.9 80.5,186.3 160,140.4 160,48.6 	"/>
</g>

<g id="block2" class="block">
	<g>
		<g>
			<defs>
				<rect id="SVGID_53_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_54_">
				<use xlink:href="#SVGID_53_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st27" d="M81.9,187.2c-0.3,0.8-0.7,1.6-1,2.4c-0.1,0.3-0.3,0.7-0.4,1v2.4c0.5-1,0.9-2,1.4-3c0.3-0.7,0.7-1.5,1-2.2
				L81.9,187.2z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_55_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_56_">
				<use xlink:href="#SVGID_55_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st28" d="M80.6,204.8c1.6-3.5,3.1-7,4.8-10.4c0.6-1.4,1.3-2.8,1.9-4.1l-1.1-0.7c-0.6,1.5-1.2,2.9-1.8,4.4
				c-1.2,3.1-2.5,6.1-3.8,9.2V204.8z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_57_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_58_">
				<use xlink:href="#SVGID_57_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st29" d="M80.6,217.1c0.1-0.3,0.2-0.6,0.3-0.8c2.4-5.9,5.1-11.6,7.8-17.4c0.9-2,1.9-4.1,2.9-6.1l-1.2-0.7
				c-0.9,2.1-1.8,4.2-2.6,6.4c-2.3,5.7-4.6,11.3-7.2,16.9L80.6,217.1L80.6,217.1z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_59_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_60_">
				<use xlink:href="#SVGID_59_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st30" d="M80.6,229.7c1.1-2.8,2.3-5.6,3.5-8.4c2.5-6,5.3-12,8-17.9c1.3-2.7,2.5-5.4,3.8-8l-1.3-0.8
				c-1.2,2.8-2.3,5.6-3.4,8.4c-2.5,6.1-5,12.1-7.7,18.1c-0.9,2.1-1.9,4.2-2.9,6.3V229.7z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_61_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_62_">
				<use xlink:href="#SVGID_61_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st31" d="M80.6,241.2c1-1.8,1.9-3.6,2.7-5.5l3.9-9.4c2.6-6.2,5.4-12.4,8.3-18.5c1.5-3.3,3.1-6.7,4.6-10l-1.3-0.8
				c-1.5,3.4-2.9,6.9-4.3,10.4c-2.6,6.3-5.1,12.5-7.9,18.6c-1.8,4.2-3.8,8.3-6,12.3C80.6,238.3,80.6,241.2,80.6,241.2z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_63_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_64_">
				<use xlink:href="#SVGID_63_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st32" d="M80.6,251.2c0.2-0.3,0.4-0.6,0.6-0.9c3.9-5.9,6.4-12.5,9.3-18.8c2.7-6.4,5.6-12.8,8.4-19.1
				c1.8-4,3.6-8,5.5-12l-1.4-0.8c-1.8,4.1-3.4,8.2-5.1,12.4c-2.6,6.5-5.1,12.9-8.1,19.2c-2.7,5.9-5.7,11.8-9.3,17.1L80.6,251.2
				L80.6,251.2z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_65_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_66_">
				<use xlink:href="#SVGID_65_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st33" d="M80.6,260c1.2-1.4,2.3-2.8,3.3-4.3c4.1-6,6.9-12.7,9.8-19.2l8.7-19.7c2.1-4.7,4.2-9.3,6.3-13.9l-1.4-0.8
				c-2.1,4.8-4,9.6-5.9,14.4c-2.6,6.7-5.3,13.3-8.3,19.8s-6.3,12.9-10.5,18.6c-0.6,0.9-1.3,1.7-2,2.5V260z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_67_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_68_">
				<use xlink:href="#SVGID_67_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st34" d="M80.6,268.2c2.2-2.1,4.2-4.4,5.9-6.9c4.4-6.1,7.3-13,10.3-19.6l8.9-20.2c2.3-5.3,4.7-10.7,7.2-15.9
				l-1.5-0.9c-2.4,5.4-4.6,10.9-6.7,16.4c-2.7,6.9-5.4,13.7-8.6,20.3c-3.1,6.7-6.5,13.2-11,19c-1.4,1.9-3,3.7-4.6,5.4L80.6,268.2
				L80.6,268.2z"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_69_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_70_">
				<use xlink:href="#SVGID_69_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st35" d="M89.1,266.7c4.6-6.2,7.7-13.2,10.8-20.1l9.2-20.8c2.6-6,5.3-12,8.1-17.9l-1.5-0.9
				c-2.7,6.1-5.1,12.2-7.5,18.4c-2.8,7-5.6,14.1-8.8,20.9c-3.2,6.8-6.8,13.5-11.5,19.4c-2.2,2.9-4.6,5.5-7.2,7.9v2.3
				c0.3-0.2,0.6-0.4,0.8-0.7C84.3,272.7,86.8,269.7,89.1,266.7"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_71_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_72_">
				<use xlink:href="#SVGID_71_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st36" d="M103,251.6l9.5-21.3c2.9-6.7,5.8-13.3,8.9-19.9l-1.6-0.9c-3,6.7-5.7,13.6-8.3,20.4
				c-2.8,7.2-5.7,14.4-9.1,21.4c-3.3,7-7.1,13.8-12,19.8c-2.3,2.9-4.9,5.7-7.7,8.2l1.6,0.9c2.7-2.5,5.2-5.2,7.4-8.1
				C96.5,265.8,99.8,258.7,103,251.6"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_73_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_74_">
				<use xlink:href="#SVGID_73_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st37" d="M106.2,256.7c3.3-7.3,6.6-14.6,9.8-21.9c3.2-7.3,6.3-14.7,9.7-21.8l0,0l-1.6-0.9
				c-3.4,7.4-6.3,14.9-9.2,22.4c-2.9,7.4-5.9,14.8-9.4,22c-3.4,7.2-7.5,14.1-12.5,20.2c-1.6,2-3.4,3.9-5.3,5.7l1.6,0.9
				c1.7-1.8,3.4-3.7,5-5.6C99.3,271.2,102.8,263.9,106.2,256.7"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_75_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_76_">
				<use xlink:href="#SVGID_75_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st38" d="M109.3,261.7c3.4-7.4,6.8-14.9,10-22.4c3.3-7.5,6.4-15.1,9.9-22.4c0.2-0.5,0.5-0.9,0.7-1.4l-1.6-0.9
				c-0.2,0.5-0.5,1.1-0.8,1.6c-3.5,7.5-6.2,15.2-9.2,22.8s-6,15.2-9.7,22.5c-3.5,7.4-7.8,14.4-13,20.6c-0.9,1.1-1.9,2.1-2.9,3.2
				l1.5,0.9c0.9-1,1.8-2,2.6-3c2.5-3.3,4.8-6.7,6.8-10.3C105.8,269.1,107.5,265.4,109.3,261.7"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_77_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_78_">
				<use xlink:href="#SVGID_77_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st39" d="M112.4,266.8c3.6-7.6,7-15.3,10.3-23s6.5-15.5,10.1-23c0.4-0.9,0.9-1.9,1.4-2.8l-1.6-1c-0.5,1-1,2-1.4,3
				c-3.5,7.7-6.3,15.6-9.4,23.4c-3,7.8-6.2,15.6-10,23.1c-3.6,7.5-8.1,14.7-13.5,21c-0.2,0.2-0.4,0.4-0.5,0.6l1.4,0.8
				c0.1-0.1,0.2-0.3,0.3-0.4c2.6-3.3,5-6.8,7.1-10.5C108.7,274.3,110.6,270.5,112.4,266.8"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_79_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_80_">
				<use xlink:href="#SVGID_79_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st40" d="M126.2,248.3c3.4-7.9,6.6-15.9,10.3-23.6c0.7-1.4,1.4-2.8,2.1-4.2l-1.7-1c-0.7,1.5-1.4,2.9-2.1,4.4
				c-3.6,7.9-6.4,16-9.6,24c-3.1,8-6.4,16-10.2,23.6c-3.4,6.9-7.5,13.4-12.4,19.3l1.4,0.8c4.7-6.1,8.3-12.9,11.6-19.8
				C119.2,264,122.7,256.2,126.2,248.3"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_81_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_82_">
				<use xlink:href="#SVGID_81_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st41" d="M129.6,252.8c3.5-8.1,6.7-16.3,10.4-24.2c0.9-1.9,1.8-3.7,2.7-5.6l-1.7-1c-0.9,1.9-1.8,3.8-2.7,5.8
				c-3.7,8.1-6.5,16.4-9.8,24.6c-3.2,8.2-6.6,16.3-10.5,24.2c-3,6-6.5,11.8-10.7,17.1l1.2,0.7c3.9-5.5,7.1-11.4,10.1-17.5
				C122.5,268.9,126.1,260.9,129.6,252.8"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_83_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_84_">
				<use xlink:href="#SVGID_83_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st42" d="M133,257.3c3.6-8.3,6.9-16.7,10.6-24.8c1.1-2.3,2.2-4.6,3.4-6.9l-1.7-1c-1.2,2.4-2.3,4.8-3.4,7.2
				c-3.7,8.3-6.6,16.8-9.9,25.1c-3.3,8.4-6.7,16.7-10.8,24.7c-1,2-2.1,4-3.2,5.9c-1.2,1.9-2.3,3.8-3.6,5.7c-0.7,1.1-1.5,2.1-2.2,3.2
				l1.1,0.6c3.2-4.8,6-9.9,8.6-15.1C125.7,273.8,129.4,265.5,133,257.3"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_85_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_86_">
				<use xlink:href="#SVGID_85_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st43" d="M136.4,261.8c3.6-8.5,7-17.1,10.8-25.4c1.3-2.8,2.7-5.6,4.1-8.3l-1.7-1c-1.4,2.8-2.8,5.7-4.1,8.6
				c-3.8,8.5-6.7,17.2-10.1,25.7c-5.1,13-10.7,26.2-18.6,37.7l1,0.6c2.6-4.1,5-8.4,7.1-12.7C128.9,278.6,132.8,270.2,136.4,261.8"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_87_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_88_">
				<use xlink:href="#SVGID_87_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st44" d="M139.8,266.3c3.7-8.7,7.1-17.4,11-26c1.5-3.3,3.1-6.5,4.8-9.7l-1.7-1c-1.7,3.3-3.3,6.6-4.8,9.9
				c-3.8,8.7-6.8,17.6-10.3,26.3c-3.4,8.8-7.1,17.4-11.5,25.8c-1.8,3.5-3.8,6.8-6,10.1l0.8,0.5c2-3.3,3.9-6.8,5.7-10.3
				C132.2,283.5,136.1,274.9,139.8,266.3"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_89_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_90_">
				<use xlink:href="#SVGID_89_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st45" d="M143.2,270.7c3.8-8.9,7.3-17.8,11.2-26.6c1.7-3.7,3.5-7.4,5.5-11l-1.7-1c-1.9,3.7-3.8,7.5-5.4,11.3
				c-3.9,8.9-6.9,18-10.5,26.9c-3.5,9-7.3,17.8-11.8,26.3c-1.4,2.6-2.9,5.2-4.5,7.7l0.8,0.4c1.5-2.6,2.9-5.2,4.3-7.8
				C135.4,288.3,139.4,279.6,143.2,270.7"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_91_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_92_">
				<use xlink:href="#SVGID_91_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st46" d="M156.3,247.3c-3.9,9.1-7,18.4-10.7,27.5c-3.6,9.1-7.4,18.2-12.1,26.8c-1,1.8-2,3.6-3,5.3l0.7,0.4
				c1-1.8,2-3.6,3-5.4c4.5-8.7,8.6-17.7,12.5-26.7s7.4-18.2,11.4-27.2c0.7-1.5,1.4-2.9,2.1-4.4v-4.5
				C158.7,241.9,157.5,244.6,156.3,247.3"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_93_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_94_">
				<use xlink:href="#SVGID_93_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st47" d="M159.9,251.2c-4,9.3-7.1,18.8-10.8,28.1c-3.6,9.3-7.6,18.6-12.4,27.3c-0.5,1-1.1,1.9-1.6,2.9l0.6,0.4
				c0.5-1,1.1-2,1.6-2.9c4.7-8.9,8.9-18,12.8-27.2c3.4-8,6.6-16.2,10-24.2v-4.7C160,251,160,251.1,159.9,251.2"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_95_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_96_">
				<use xlink:href="#SVGID_95_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st48" d="M152.5,283.8c-3.7,9.5-7.8,18.9-12.8,27.9c-0.1,0.2-0.2,0.3-0.3,0.5l0.6,0.3c0.1-0.2,0.2-0.3,0.3-0.5
				c4.8-9.1,9.1-18.4,13.2-27.8c2.3-5.3,4.4-10.7,6.6-16.1v-4.4C157.5,270.4,155.1,277.2,152.5,283.8"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_97_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_98_">
				<use xlink:href="#SVGID_97_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st49" d="M155.9,288.3c-3.5,9-7.4,17.9-12,26.4l0.6,0.3c4.5-8.6,8.6-17.4,12.5-26.3c1.1-2.5,2.1-5.1,3.2-7.6v-3.7
				C158.7,281,157.3,284.7,155.9,288.3"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_99_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_100_">
				<use xlink:href="#SVGID_99_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st50" d="M159.3,292.8c-3.3,8.3-6.9,16.5-11,24.4l0.5,0.3c4.1-7.8,7.8-15.7,11.3-23.8v-2.9
				C159.8,291.5,159.6,292.1,159.3,292.8"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_101_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_102_">
				<use xlink:href="#SVGID_101_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st51" d="M152.7,319.8l0.5,0.3c2.4-4.7,4.7-9.4,6.8-14.2v-2.1C157.8,309.2,155.4,314.6,152.7,319.8"/>
		</g>
		<g>
			<defs>
				<rect id="SVGID_103_" x="1" y="2.7" width="238.5" height="321.3"/>
			</defs>
			<clipPath id="SVGID_104_">
				<use xlink:href="#SVGID_103_"  style="overflow:visible;"/>
			</clipPath>
			<path class="st52" d="M157.1,322.3l0.5,0.3c0.8-1.6,1.7-3.3,2.5-4.9v-1.6C159.1,318.2,158.1,320.2,157.1,322.3"/>
		</g>
	</g>
	<polygon class="st26" points="232.7,190.4 160.1,233.2 160.1,239.2 160.1,243.7 160.1,250.9 160.1,255.5 160.1,263.7 160.1,268.2 
		160.1,277.3 160.1,281 160.1,290.8 160.1,293.7 160.1,303.8 160.1,305.9 160.1,316.1 160.1,317.7 160.1,324 239.5,278.1 
		239.5,186.3 	"/>
</g>


</svg>
