<div class="col-24 col-md-12 image-teaser">
    {% if include.type == "bottom" %}
        <img class="img-fluid" src="{{ include.src }}" alt="{{ include.title }}"/>
        <div class="image-teaser-content {{ include.type }} bg-{{ include.color }}">
            <div class="pixels bottom"></div>
            <div class="image-teaser-content-inner">
                {% if include.headline %}
                    <h3 class="headline">{{ include.headline }}</h3>
                {% endif %}
            </div>
        </div>
    {% elsif include.type == "top" %}
        <div class="image-teaser-content {{ include.type }} bg-{{ include.color }}">
            <div class="pixels top"></div>
            <div class="image-teaser-content-inner">
                {% if include.headline %}
                <h3 class="headline">{{ include.headline }}</h3>
                {% endif %}
            </div>
        </div>
        <img class="img-fluid" src="{{ include.src }}" alt="{{ include.title }}"/>
    {% endif %}

</div>