
.onScreen{
    &.fadeInLeft{
        opacity: 1;
        transform: translateX(0);
    }
    &.fadeInRight{
        opacity: 1;
        transform: translateX(0);
    }
    &.fadeInBottomOpacity{
        opacity: 1;
        transform: translateY(0px);
    }
    &.fadeInOpacity{
        opacity: 1;
    }
}

.onScreen{
    .fadeInLeft{
        opacity: 1;
        transform: translateX(0);
    }
    .fadeInRight{
        opacity: 1;
        transform: translateX(0);
    }
    .fadeInBottomOpacity{
        opacity: 1;
        transform: translateY(0px);
    }
    .fadeInOpacity{
        opacity: 1;
    }
}


@for $i from 1 through 20 {
 .fadeDelay-#{$i}{ 
   transition-delay: $i* .2s !important;
  }
}

.fadeInOpacity{
  transition: opacity ease .5s;
  opacity: 0;
}

.fadeInBottomOpacity{
  transition: transform ease 1.4s, opacity ease 1.8s;
  opacity: 0;
  transform: translateY(100px);
}

.fadeInLeft{
  transition: transform ease 1s, opacity ease 2s;
  opacity: 0;
  transform: translateX(-60vw);
}
.fadeInRight{
  transition: transform ease 1s, opacity ease 2s;
  opacity: 0;
  transform: translateX(80vw);
}