.cookie-wrap{
  background-color: $white;
  position: fixed;
  bottom: 0;
  width: 100%;
  .cookie-inner{
    padding: 10px;
    text-align: center;
    a{
      color: $black;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .icon{
    float: right;
    margin-top: 4px;
  }
}