/******************************************************************
Site Name: Fundament Group
Author: Rainbow Unicorn

Stylesheet: Variables

/******************************************************************
Bootstrap variables overwrites
******************************************************************/

// Grid

$grid-columns: 24;

$grid-breakpoints: (
        xs: 0,
        sm: 768px,
        md: 1024px,
        lg: 1200px,
        xl: 1400px,
        xxl: 1600px,
        xxxl: 1920px
);

$container-max-widths: (
        xs: 0,
        sm: 768px,
        md: 1024px,
        lg: 1200px,
        xl: 1400px,
        xxl: 1600px,
        xxxl: 1920px
);

//extend spacing to 8
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6),
    7: ($spacer * 12),
    8: ($spacer * 24)
  ),
  $spacers
);



$white: #fff;
$gray-100: #fafafa;
$gray-200: #F9F8FC;
$gray-300: #EDEDED;
$gray-400: #cbc8d0;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #444;
$gray-800: #343a40;
$gray-900: #17141F;
$black: #000;
$blue: #007bff;
$indigo: #6610f2;
$purple: #593196;
$pink: #e83e8c;
$red: #FC3939;
$orange: #fd7e14;
$yellow: #EFA31D;
$green: #07a067;
$teal: #20c997;
$cyan: #009CDC;
$primary: black;
$secondary: white;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-200;
$dark: $gray-900;
$enable-rounded: false;
$body-color: $black;
$link-hover-color: $primary;
$font-size-default: 18px;
$table-border-color: rgba(0, 0, 0, 0.05);
$input-focus-border-color: $primary;
$dropdown-link-color: $gray-700;
$dropdown-link-hover-color: $white;
$dropdown-link-hover-bg: $primary;
$nav-tabs-border-color: $gray-300;
$nav-tabs-link-hover-border-color: $primary;
$navbar-padding-y: 1.2rem;
$navbar-dark-hover-color: rgba($white,.9);
$navbar-dark-active-color: rgba($white,.9);
$navbar-light-color: $black; //navbar link color
$navbar-light-active-color: rgba($black,.7);
$navbar-light-disabled-color: rgba($black,.2);
$progress-bg: $gray-300;
$progress-bar-bg: $primary;
$list-group-bg: $white;
$list-group-border-color: $gray-300;
$list-group-hover-bg: lighten($list-group-bg, 10%);
$list-group-active-color: $white;
$list-group-active-bg: $primary;
$list-group-disabled-color: $gray-300;
$text-muted: $gray-900;