/******************************************************************
Site Name: Fundament Group
Author: Rainbow Unicorn

Stylesheet: Variables

/******************************************************************
Custom variables
******************************************************************/

$jh-blue: rgba(32, 112, 188, 1);
$jh-red: rgba(255, 75, 78, 1);
$jh-green: rgba(42, 187, 142, 1);
$jh-yellow: rgba(255, 203, 65, 1);
$jh-grey: rgba(204, 212, 217, 1);

$text-color:        $black;
$link-color:        $primary;
$link-hover-color: $black;
$link-hover-decoration:     none;
$font-size-small: 13px;
$font-size-tiny: 11px;

$selection-background-color: $jh-red;
$selection-color: $white;

$quote-background-green-color: desaturate(lighten($primary, 45%),30%);

$footer-background-color: #ede9eb;

$fontello-font-path : "./fonts";
$fontello-font-name : "fontello";

$font: 'Source Sans Pro', sans-serif;
$font-regular: 400;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 800;

$pixel-size: 5vw;

$navbar-light-hover-color:          $jh-red;
$navbar-light-active-color:         $jh-red;



