---
layout: default
heroImage: none
---

<div class="row pt-5 pb-5 pt-sm-6 pb-sm-5">
    <div class="col-24 col-sm-12 order-2 order-sm-1">
        <div class="row justify-content-center">
            <div class="col-24 col-sm-18 col-md-12 onScreenAnimate fadeInBottomOpacity fadeDelay-1">
                <img class="img-fluid" src="/assets/img/static/image-apply.jpg" alt="Fundament Group">
            </div>
        </div>
    </div>
    <div class="col-24 col-sm-12 order-1 order-sm-2 justify-content-center">
        <div class="row align-items-center h-100">
            <div class="col col-sm-22  col-md-18 subscription-form onScreenAnimate">
                <h2 class="pb-2 fadeInBottomOpacity">Join our Whitelist</h2>
                <p class="fadeInBottomOpacity fadeDelay-1">Subscribe and get notified on our latest product updates.</p>
                <div class="fadeInBottomOpacity fadeDelay-2">
                    <form class="validate p-3 p-sm-5 " action="//group.us19.list-manage.com/subscribe/post?u=00432243bcdc7be8e828e766f&amp;id=c6790d87c7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="your mail address" name="EMAIL" id="mce-EMAIL" required>
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_07794224f80eb3988af949760_2b1b3a01e0" tabindex="-1" value=""></div>
                        <div class="mc-status hidden"></div>
                            <div class="d-flex justify-content-end">
                                <button type="submit" id="mc-embedded-subscribe" class="btn">
                                    <i class="icon">&#xe800;</i>
                                    subscribe
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>