h1, .h1 {
  font-size: 2.5em;
}

h2, .h2{
  font-size: 3rem;
}
h3, .h3{
  font-size: 1.5em;
}
p, input, .btn, ul{
  font-size: 1em;
}

.header-left {

  margin-bottom: 0;
  transform: translateY(-72px);
  margin-right: 0.5vw;

  &:after{
    padding-bottom: 100%;
  }
  .header-left-content {
    position: absolute;

    .header-inner{
      padding: 72px 5% 0 5%;

      .logo {
        width: 50%;
        padding-bottom: 0;
      }

      .copy{
        padding-bottom: 3vw;
      }


    }
  }
}

.image-teaser-wrap {
  margin-bottom: 1vw;
  .image-teaser {
    padding: 0 0.5vw;
    .image-teaser-content {
      &.top {
        .image-teaser-content-inner {
          top: 50%;
        }
      }
    }
  }
}

.header-right{
  margin-left: 0.5vw;
}
.content-wrap{
  max-width: 90%;
  margin: 0 auto;
  &.fullwidth{
    max-width: 100%;
  }
}

.article{

  padding: 0;
  .article-headline{
    max-width: 70%;
    padding-bottom: 100px;
  }
}

.member-btn {
  margin-top: 0px;
}

.section{
  margin-bottom: 75px;
}

//nav
nav.navbar {

  height: 72px;

  .nav-link.apply {
    color: $jh-red;
    position: absolute;
    right: 3vw;
    display: block;


    .apply-inner {
      display: block;
      transform: translateX(-40px);
    }

    .alpaka{
      position: absolute;
      width: 30px;
      top: 8px;
      right: 0;
    }
  }

  .navbar-nav{
    text-align: left;
  }

}

.hamburger{
  position: relative;
}

.image-teaser-wrap {
  .image-teaser {

    margin-bottom: 0;

    .image-teaser-content {
      .image-teaser-content-inner {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.btn-wrap{
  padding-top: 100px;
}
.btn {
  padding: 15px 25px;
  &:before{
    left: -10px;
  }
  &:after{
    right: -10px;
  }
  &:before, &:after {
    width: 10px;
    height: calc(100% - 20px);
  }
}

.pixels {
  &:before, &:after {
    width: 1.5vw;
    height: 1.5vw;
  }
}

.footer{

  .contact{
    font-size: 1.25em;
  }

  .legal-info{
    position: relative;
    p {
      font-size: 0.9em;
    }
  }

  .impressum-link{
    position:absolute;
    bottom: 0;
  }

}




