h2, .h2 {
  font-size: 3.5rem;
}
h3, .h3 {
  font-size: 1.75em;
}
.btn {
  padding: 20px 30px;
}

.header-left {
  .header-left-content {
    .header-inner {
      padding: 72px 10% 0 10%;
      .logo {
        padding-bottom: 3vw;
      }
    }
  }
}
.btn {
  padding: 25px 30px;
}