.article{

  .article-headline{
    max-width: 60%;
  }
}

.header-left {
  .header-left-content {
    .header-inner {
      padding: 72px 15% 0 15%;
      .logo {
        padding-bottom: 3vw;
      }
    }
  }
}

.btn {
  padding: 30px 40px;
}