h2, .h2{
  font-size: 2.25em;
}
h3, .h3{
  font-size: 1.8em;
}
.image-teaser-wrap {
  .image-teaser {
    .image-teaser-content {

      &.bottom {
        &:before {
          content: '';
          border-bottom-width: 60px;
          border-right-width: 60px;
          top: -60px;
        }
        &:after {
          width: 90px;
          right: 70px;
        }
      }

      &.top {
        &:before {
          content: '';
          border-top-width: 60px;
          border-left-width: 60px;
          bottom: -60px;
        }
        &:after {
          width: 90px;
          left: 70px;
        }
      }
    }
  }
}