h1, .h1 {
  font-size: 2.5em;
}

h2, .h2{
  font-size: 4rem;
}
h3, .h3{
  font-size: 2.5em;
}
p, input, .btn, ul{
  font-size: 1.5em;
}

.btn{
  &.btn-lg{
    padding: 1.3rem 3rem;
    min-width: 0;
  }
}

.article{
  padding: 0px 2vw 0 2vw;
  .article-headline{
    padding-bottom: 60px;
  }
}

.pixels {
  &:before, &:after {
    width: 50px;
    height: 50px;
  }
}

.header-left {
  margin-bottom: 5vw;
  .header-left-content {
    .header-inner {
      .logo {
        width: 50%;
        padding-bottom: 10vh;
      }
    }
  }
}

.footer {

  .footer-inner{
    padding: 10% 0;
  }

  .contact{
    font-size: 2.5rem;
  }
  .legal-info {
    p {
      font-size: 1.2em;
    }
  }
}





