/******************************************************************
Site Name: Fundament Group
Author: Rainbow Unicorn

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html, body{
  margin: 0;
  padding: 0;
  font-size: $font-size-default;
  font-weight: $font-light;
  overflow-x: hidden;
  color: $primary;
}


body {
  font-family: $font;
  line-height: 1.5;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0px;

}

.site-wrap{
  max-width: 1920px;
  margin: 0 auto;
}

.section{
  margin-bottom: 20vw;
}

b, strong{
  font-weight: $font-bold;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  color: $primary;
  text-rendering: optimizelegibility;
  font-weight: $font-light;
  line-height: 1;
  margin: 0;
}

h1, .h1{
  font-size: 3em;
  padding: 20px 0;
}

h2, .h2{
  font-size: 1.8rem;
}

h3, .h3{
  font-size: 1.5rem;
}

a{
  &:hover{
    text-decoration: underline;
  }
}

small{
  font-size: $font-size-small;
}

p,input,.btn, ul{
  font-size: 1em;
}


.form-control{
  font-size: 1em;
}


.btn-wrap{
  padding-top: 50px;
}
.btn{

  color: white;
  padding: 30px 50px;
  font-weight: $font-light;
  position: relative;
  transform: scale(1);
  @include transition(transform .25s ease);

  &:hover{
    color: white;
    transform: scale(1.1);
  }

  &:before, &:after{
    content: '';
    width: 15px;
    height: calc(100% - 30px);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }

  &:before{
    left: -15px;
  }

  &:after{
    right: -15px;
  }

  &.red{
    &:before, &:after{
      background-color: $jh-red;
    }
    background-color: $jh-red;
  }

  &.blue{
    &:before, &:after{
      background-color: $jh-blue;
    }
    background-color: $jh-blue;
  }

  &.green{
    &:before, &:after{
      background-color: $jh-green;
    }
    background-color: $jh-green;
  }

  &.yellow{
    &:before, &:after{
      background-color: $jh-yellow;
    }
    background-color: $jh-yellow;
  }

  &.grey{
    &:before, &:after{
      background-color: $jh-grey;
    }
    background-color: $jh-grey;
  }

  line-height: 1.5;
  &.btn-lg{
    padding: 1.3rem 1rem;
    border-radius: 4px;
    min-width: 80%;
  }
}

p{
  margin-bottom: 1.2rem;
  white-space: wrap;
  &:last-child{
    margin-bottom: 0px;
  }
}

ul{
  margin: 0;
}


.container{
  max-width: 100%;
  position: relative;
  top: 0;
  left:0;
}

.hamburger{
  position: absolute;
  top: 58px;
  right: 30px;
}

//nav
nav.navbar{
  z-index: 1;
  padding: 0;
  height: 0;

  .nav-link.apply{
    color: $jh-red;
    position: relative;
    display: inline-block;

    .apply-inner{
      display: block;
    }

    .alpaka{
      position: absolute;
      width: 30px;
      top: 8px;
      right: -40px;
      img{
        width: 100%;
        height: auto;
        display: none;

        &.active{
          display: block;
        }



      }
    }
  }

  &.bg-light{
    background-color: transparent !important;
  }

  .navbar-brand{
    img{
      width: 150px;
      height: auto;
      padding: 10px 10px;
    }
  }

  //toggle button
  button.navbar-toggler{
    border: none;
    i{
      font-size: 28px;
      color: $black;
    }

    &:focus{
      outline: none;
    }
  }

  .navbar-nav{
    padding: 10px;
    text-align: center;
  }
}

.member-btn{
  margin-top: 60px;
}

.bubble{

  position: relative;
  margin-bottom: 60px;

  .bubble-inner{
    padding: 10%;
  }

  &:before{
    content: '';
    width: 0;
    height: 0;
    border-top: 60px solid red;
    border-left: 60px solid transparent;

    position: absolute;
    bottom: -60px;

  }

  &.red{
    background-color: $jh-red;
    &:before{
      border-top-color: $jh-red;
      border-bottom-color: $jh-red;
    }
  }
  &.blue{
    background-color: $jh-blue;
    &:before{
      border-top-color: $jh-blue;
      border-bottom-color: $jh-blue;
    }
  }
  &.yellow{
    background-color: $jh-yellow;
    &:before{
      border-top-color: $jh-yellow;
      border-bottom-color: $jh-yellow;
    }
  }
  &.green{
    background-color: $jh-green;
    &:before{
      border-top-color: $jh-green;
      border-bottom-color: $jh-green;
    }
  }
  &.grey{
    background-color: $jh-grey;
    &:before{
      border-top-color: $jh-grey;
      border-bottom-color: $jh-grey;
    }
  }
}

.pixels{

  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;

  &.red{
    &:before, &:after{
      background-color: $jh-red;
    }

  }

  &.blue{
    &:before, &:after{
      background-color: $jh-blue;
    }

  }

  &.green{
    &:before, &:after{
      background-color: $jh-green;
    }

  }

  &.yellow{
    &:before, &:after{
      background-color: $jh-yellow;
    }

  }

  &.grey{
    &:before, &:after{
      background-color: $jh-grey;
    }

  }

  &.footer-grey{
    &:before, &:after{
      background-color: $footer-background-color;
    }

  }

  &:before, &:after{
    width: $pixel-size;
    height: $pixel-size;
    content:'';
    background-color: white;
    position: absolute;

  }

  &.top{
    &:before{
      left: -1px;
      top: -1px;
    }
    &:after{
      right: -1px;
      top:-1px;
    }
  }

  &.bottom{
    &:before{
      left: -1px;
      bottom: -1px;
    }
    &:after{
      right: -1px;
      bottom:-1px;
    }
  }


  &.right{
    &:before{
      right: -1px;
    }
    &:after{
      right: -1px;
      bottom:-1px;
    }
  }

  &.left{
    &:before{
      left: -1px;
    }
    &:after{
      left: -1px;
      bottom:-1px;
    }
  }


}

/******************************************************************
HEADER
******************************************************************/

.header-left{

  background-color: $jh-blue;
  position: relative;
  margin-bottom: $pixel-size;

  &:after{
    padding-bottom: 0;
  }

  .header-left-content{

    position: relative;

    .header-inner{

      padding: 72px 10% 0 10%;

      .logo{
        @include transition(width .25s ease);
        width: 80%;
        height: auto;
        padding-bottom: 3vw;
      }

      .headline, .copy {
        color: $secondary;
      }

      .headline{
        line-height: 1.3;
      }

      .copy{
        padding-bottom: 10%;
        margin-bottom: 0;
      }

    }
  }
}
.carousel{
  padding: 0 2.5vw;
}
.carousel-item {
  height: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.article{
  max-width: 100vw;
  margin: 0 auto;

  .article-headline{
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

}
.image-teaser-wrap{

  margin-bottom: 0;

  .image-teaser{

    padding: 0;
    margin-bottom: 5vw;

    .image-teaser-content{

      &.top{
        .image-teaser-content-inner{
          top: calc(5vw + 50%);
        }
      }

      .image-teaser-content-inner{

        position: absolute;
        top: calc(50% - 2vw);
        transform: translateY(-50%);

        .headline{
          color:white;
          padding: 10%;
          margin: 0;
        }
      }

      position: relative;

      &.bottom{
        &:before{
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-bottom: 60px solid white;
          border-right: 60px solid transparent;
          position: absolute;
          right: 0;
          top: -60px;
        }
        &:after{
          position: absolute;
          z-index: 2;
          width: 80px;
          height: auto;
          top: -100px;
          right: 60px;
          padding: 10px;
        }
      }

      &.top{
        &:before{
          content: '';
          display: block;
          width: 0;
          height: 0;
          border-top: 60px solid white;
          border-left: 60px solid transparent;
          position: absolute;
          left: 0;
          bottom: -60px;
        }
        &:after{
          position: absolute;
          z-index: 2;
          width: 80px;
          height: auto;
          bottom: -100px;
          left: 60px;
          padding: 10px;
        }
      }

      &.bg-red{
        &:before{
          border-top-color: $jh-red;
          border-bottom-color: $jh-red;
        }
        &:after{
          content:url('img/static/alpaka-face-red.svg');
        }
      }

      &.bg-green{
        &:before{
          border-top-color: $jh-green;
          border-bottom-color: $jh-green;
        }
        &:after{
          content:url('img/static/alpaka-face-green.svg');
        }
      }

      &.bg-blue{
        &:before{
          border-top-color: $jh-blue;
          border-bottom-color: $jh-blue;
        }
        &:after{
          content:url('img/static/alpaka-face-blue.svg');
        }
      }

      &.bg-yellow{
        &:before{
          border-top-color: $jh-yellow;
          border-bottom-color: $jh-yellow;
        }
        &:after{
          content:url('img/static/alpaka-face-yellow.svg');
        }
      }

      &.bg-grey{
        &:before{
          border-top-color: $jh-grey;
          border-bottom-color: $jh-grey;
        }
        &:after{
          content:url('img/static/alpaka-face-grey.svg');
        }
      }

    }
  }
}

.members-wrap{
  background-image: url(img/static/home/mitglieder-bg.svg);
  background-size: cover;
  background-repeat: repeat-y;
}

.members-wrap{
  .content-wrap{
    margin-top: 5%;
  }
}

.footer{
  background-color: $footer-background-color;

  .footer-inner{
    margin: 0 auto;
    padding: 20% 0;
    max-width: 80%;
  }

  .contact{
    font-size: 1.25em;
  }

  .legal-info{
    p{
      font-size: 0.9em;
    }
    position: relative;
    bottom:0;
  }
}



